<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div>
            <label for="username">username</label>
            <input type="text" name="username" value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div>
            <label for="password1">password1</label>
            <input type="password" name="password1" value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div>
            <label for="password2">password2</label>
            <input type="password" name="password2" value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <button type="submit">submit</button>
    </form>
</body>
</html>